body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    background-color: #1f1f1f;
    -webkit-text-fill-color: whitesmoke;
}

a:hover {
    -webkit-text-fill-color: rgb(252, 171, 183);
}

a:active {
    -webkit-text-fill-color: whitesmoke;
}

.hotlink {
    -webkit-text-fill-color: rgb(252, 199, 207);
    text-decoration: none;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
}

.small-container {
    float: left;
    margin-top: 50px;
}

.rectangle {
    float: left;
    width: 33.33%;
    height: 500px;
    width: 250px;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    text-align: center; 
    animation:bgChange 30s infinite;
    animation-direction: alternate;
    overflow: hidden;
}

@keyframes bgChange {
  0% {background:black;}
  50% {background:rgb(187, 223, 238);}
  100% {background:black;}
}

.rectangle-bottoms-up {
  float: left;
  width: 33.33%;
  height: 500px;
  width: 250px;
  background-color: black;
  border-color: white;
  border-radius: 5px;
  text-align: center; 
  animation:bgChangeRev 30s infinite;
  animation-direction: alternate;
  overflow: hidden;
}

@keyframes bgChangeRev {
  0% {background: rgb(187, 223, 238);}
  50% {background: black;}
  100% {background: rgb(187, 223, 238);}
}

.circle {
    position:relative;
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.rotate {
    animation: 30s linear infinite rotate;
    position: relative;
    top: 60px;
  }

  .r-left {
    transform-origin: 500% 1000%;
  }

  .r-center {
    transform-origin: 500% 1000%;
  }

  .r-right {
    transform-origin: 500% 1000%;
  }

  @keyframes rotate {
    from {
      transform: rotate(90deg)
    }
    to {
      transform: rotate(-270deg)
    }
  }