body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    background-color: #1f1f1f;
    -webkit-text-fill-color: whitesmoke;
}

a:hover {
    -webkit-text-fill-color: rgb(252, 171, 183);
}

a:active {
    -webkit-text-fill-color: whitesmoke;
}

.hotlink {
    -webkit-text-fill-color: rgb(252, 199, 207);
    text-decoration: none;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
}

.container {
    margin-left: 120px;
}

.small-container {
    margin-top: 100px;
    margin-left: 330px;
    margin-right: 100px;
}
