body {
    background-color: #1f1f1f;
    -webkit-text-fill-color: whitesmoke;
}

a:hover {
    -webkit-text-fill-color: rgb(255, 133, 152);
}

a:active {
    -webkit-text-fill-color: whitesmoke;
}

.hotlink {
    -webkit-text-fill-color: rgb(252, 199, 207);
    text-decoration: none;
}

.wrapper {
    display: inline-block;
    text-align: center;
    font-style: italic;
    width: 750px;
    margin-top: 40px;
    margin-left: 200px;
}

.wrapper-other {
    display: inline-block;
    text-align: left;
    font-style: italic;
    width: 750px;
    margin-top: 120px;
    margin-left: 200px;
}

.small-container {
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-style: italic;
}

.small-container-other {
    margin-top: 150px;
    margin-left: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}

.rectangle {
    float: left;
    width: 33.33%;
    height: 500px;
    width: 250px;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    text-align: center; 
    animation: bgChange 30s infinite;
    animation-direction: alternate;
    overflow: hidden;
}

@keyframes bgChange {
  0% {background:black;}
  50% {background:rgb(187, 223, 238);}
  100% {background:black;}
}

.rectangle-bottoms-up {
  float: left;
  width: 33.33%;
  height: 500px;
  width: 250px;
  background-color: black;
  border-color: white;
  border-radius: 5px;
  text-align: center; 
  animation: bgChangeRev 30s infinite;
  animation-direction: alternate;
  overflow: hidden;
}

@keyframes bgChangeRev {
  0% {background: rgb(187, 223, 238);}
  50% {background: black;}
  100% {background: rgb(187, 223, 238);}
}

.circle {
    position:relative;
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.r-left {
    animation: rotate-left 30s linear infinite;
    position: relative;
    top: 60px;
}

@keyframes rotate-left {
    from {
      transform: rotate(90deg)
    }
    to {
      transform: rotate(-270deg)
    }
}

.c-left {
    transform-origin: 500% 1000%;
}

.r-center {
    animation:rotate-center 30s linear infinite;
    position: relative;
    top: 60px;
}

@keyframes rotate-center {
    from {
      transform: rotate(270deg)
    }
    to {
      transform: rotate(-90deg)
    }
}

.c-center {
    transform-origin: 500% 1000%;
}

.r-right {
    animation: rotate-right 30s linear infinite;
    position: relative;
    top: 60px;
}

@keyframes rotate-right {
    from {
      transform: rotate(180deg)
    }
    to {
      transform: rotate(-180deg)
    }
}

.c-right {
    transform-origin: 500% 1000%;
}

#sentence {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 50;
    -webkit-text-fill-color: rgb(252, 199, 207);
    animation: textFade 160s ease-in infinite;
}

/* @keyframes textFade {
    0% {-webkit-text-fill-color: #1f1f1f;}
    50% {-webkit-text-fill-color: whitesmoke;}
    100% {-webkit-text-fill-color: #1f1f1f;}
} */

@keyframes textFade {
    0% {opacity: 0;}
    40% {opacity: 0;}
    50% {opacity: 0.325;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}